@model MySchedulingVKR.ViewModels.OrganizationViewSubjectAndTeacher


@{
    ViewData["Title"] = "Menu";
}

<style>
    h1 {
        margin-top: 50px;
        font-size: 32px;
        text-align: center;
    }

    h4 {
        font-size: 26px;
    }

    a {
        color: #77804f;
        text-decoration: none;
    }

    .subject-list table td a, .teacher-list table td a {
        float: right; 
        margin-left: 10px; 
    }

    .centered-content {
        max-width: 1200px; 
        margin: auto; 
        padding: 20px; 
    }

    .info-section, .action-buttons, .subject-list, .teacher-list {
        margin-bottom: 20px; 
    }

    .table {
        width: 100%; 
        border-collapse: collapse; 
    }

        .table th, .table td {
            padding: 12px 15px; 
            text-align: left; 
            border: 1px solid #ddd;
            text-align: center;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2; 
        }

        .table th {
            background-color: #77804f; 
            color: white; 
            border: none;           
        }
</style>

<h1>Меню организации</h1>

<div class="centered-content">
   
    <div class="info-section">
        <h4>Информация</h4>
        <dl class="row">
            <dt class="col-sm-2">
                Название
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Organization.Name)
            </dd>
            <dt class="col-sm-2">
                Логин
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Organization.Login)
            </dd>
            <dt class="col-sm-2">
                Специализация
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Organization.Specialization)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Organization.Id">Редактировать информацию</a>
        <a asp-action="Delete" asp-route-id="@Model.Organization.Id">Удалить организацию</a>
    </div>

    <div class="action-buttons">
        <a asp-action="ScheduleTeachers" asp-route-id="@Model.Organization.Id">Расписание занятий</a>
    </div>

    <div class="subject-list">
        <h4>Список предметов</h4>
        <p><a asp-area="" asp-controller="Subjects" asp-action="Create">Добавить новый предмет</a></p>
        <table class="table">
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Subjects" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-area="" asp-controller="Subjects" asp-action="Details" asp-route-id="@item.Id">Details  |</a>
                        <a asp-area="" asp-controller="Subjects" asp-action="Edit" asp-route-id="@item.Id">Edit  |</a>
                    </td>
                </tr>
            }
        </table>
    </div>
   
    <div class="teacher-list">
        <h4>Список преподавателей</h4>
        <p><a asp-area="" asp-controller="Teachers" asp-action="Create">Добавить нового преподавателя</a></p>
        <table class="table">
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Предмет</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Teachers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Teachers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-area="" asp-controller="Teachers" asp-action="Details" asp-route-id="@item.Id">Details  |</a>
                        <a asp-area="" asp-controller="Teachers" asp-action="Edit" asp-route-id="@item.Id">Edit  |</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    
</div>
   






